<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head", {title}) %>

  <body>
    <%- include("../partials/navbar") %>

    <form method="get" action="/collection/game/create">
      <button type="submit">+ New game</button>
    </form>

    <ul>
      <% games.forEach((game) => { %>
      <li>
        <a href="<%= game.url %> "><%= game.name %></a>
        <p><%= game.rating %></p>
      </li>
      <% }) %>
    </ul>

    <%- include("../partials/footer") %>
  </body>
</html>
