<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head", {title}) %>

  <body>
    <%- include("../partials/navbar") %>

    <form method="post" action="">
      <fieldset>
        <legend>Game information</legend>

        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          required
          value="<%= locals.game === undefined ? '' : game.name %> "
        />

        <label for="release_date">Release date</label>
        <input
          type="date"
          name="release_date"
          id="release_date"
          required
          value="<%= locals.game === undefined ? '' : new Date(game.release_date).toISOString().substr(0, 10)%>"
        />

        <label for="developer">Developer</label>
        <select name="developer" id="developer" required>
          <option value="">--Please choose and option--</option>

          <% developers.forEach((developer) => { %> <option value="<%= developer._id %>"
          <%=developer._id.toString() === game.developer.toString() ? 'selected' : '' %> >
          <%=developer.name %> <% }) %>
        </select>

        <label for="genre">Genre</label>
        <select name="genre" id="genre" required>
          <option value="">--Please choose and option--</option>

          <% genres.forEach((genre) => { %> <option value="<%= genre._id %>" <%=genre._id.toString()
          === game.genre.toString() ? 'selected' : '' %>><%= genre.name %> <% }) %>
        </select>

        <fieldset>
          <legend>Choose tags (optional)</legend>

          <% tags.forEach((tag) => { %>
          <div>
            <input type="checkbox" name="tags" id="<%= 'ID' + tag._id %>" value="<%= tag._id %>"
            <%=tag._id.toString() === game.tag.toString() ? 'checked' : '' %>/>
            <label for="<%= 'ID' + tag._id %>"><%= tag.name %></label>
          </div>
          <% }) %>
        </fieldset>
      </fieldset>

      <fieldset>
        <legend>Your experience</legend>

        <label for="finished_date">Finished date</label>
        <input type="date" name="finished_date" id="finished_date" />

        <fieldset>
          <legend>Your rating</legend>

          <input type="radio" name="rating" id="rating_0" value="0" />
          <label for="rating_0">0</label>

          <input type="radio" name="rating" id="rating_1" value="1" />
          <label for="rating_1">1</label>

          <input type="radio" name="rating" id="rating_2" value="2" />
          <label for="rating_2">2</label>

          <input type="radio" name="rating" id="rating_3" value="3" />
          <label for="rating_3">3</label>

          <input type="radio" name="rating" id="rating_4" value="4" />
          <label for="rating_4">4</label>

          <input type="radio" name="rating" id="rating_5" value="5" />
          <label for="rating_5">5</label>
        </fieldset>
      </fieldset>

      <button type="submit">Add game</button>
    </form>

    <% if (locals.errors) { %>
    <div class="errors">
      <% errors.forEach((error) => { %>
      <p><b><%= error.msg %></b></p>
      <% }) %>
    </div>
    <% } %> <%- include("../partials/footer") %>
  </body>
</html>
